.App {
  text-align: center;
}

.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.postit {
  color: #fff;
  width: 140px;
  padding: 1rem;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
}

.date-container, .postit, .App {
  border: 1px dashed black;
}

/* Buttons */

button {
  background-color:#000;
  color: #fff;
  border-radius: 0px;
}
button.round {
    border-radius: 10px;
}

